<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <WebPublishMethod>MSDeploy</WebPublishMethod>
        <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
        <LastUsedPlatform>Any CPU</LastUsedPlatform>
        <SiteUrlToLaunchAfterPublish>http://proverb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
        <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
        <ExcludeApp_Data>False</ExcludeApp_Data>
        <ExcludeFilesFromDeployment>
            build\manifest-debug.json;
            app\**\*.js;
            app\**\*.js.map;
            content\**\*.css;
            content\**\*.less;
            content\**\*.scss;
        </ExcludeFilesFromDeployment>
        <ExcludeFoldersFromDeployment>
            build\debug;
            fonts;
        </ExcludeFoldersFromDeployment>
        <MSDeployServiceURL>proverb.scm.azurewebsites.net:443</MSDeployServiceURL>
        <DeployIisAppPath>proverb</DeployIisAppPath>
        <RemoteSitePhysicalPath />
        <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
        <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
        <EnableMSDeployBackup>True</EnableMSDeployBackup>
        <UserName>$proverb</UserName>
        <_SavePWD>True</_SavePWD>
        <_DestinationType>AzureWebSite</_DestinationType>
        <PublishDatabaseSettings>
            <Objects xmlns="">
                <ObjectGroup Name="ProverbContext" Order="1" Enabled="False">
                    <Destination Path="Data Source=tcp:aa71e7dn88.database.windows.net,1433;Initial Catalog=proverb_db;User ID=johnny_reilly@aa71e7dn88;Password=Bristol77" Name="Data Source=tcp:aa71e7dn88.database.windows.net,1433;Initial Catalog=proverb_db;User Id=johnny_reilly@aa71e7dn88;Password=Bristol77" />
                    <Object Type="DbCodeFirst">
                        <Source Path="DBMigration" DbContext="Proverb.Data.EntityFramework.ProverbContext, Proverb.Data.EntityFramework" MigrationConfiguration="Proverb.Data.EntityFramework.Migrations.Configuration, Proverb.Data.EntityFramework" Origin="Configuration" />
                    </Object>
                </ObjectGroup>
                <ObjectGroup Name="ProverbLog4Net" Order="2" Enabled="False">
                    <Destination Path="Data Source=tcp:aa71e7dn88.database.windows.net,1433;Initial Catalog=proverb_db;User ID=johnny_reilly@aa71e7dn88;Password=Bristol77" Name="Data Source=tcp:aa71e7dn88.database.windows.net,1433;Initial Catalog=proverb_db;User Id=johnny_reilly@aa71e7dn88;Password=Bristol77" />
                    <Object Type="DbDacFx">
                        <PreSource Path="Data Source=.;Initial Catalog=Proverb;Integrated Security=True;Application Name=Log4Net" includeData="False" />
                        <Source Path="$(IntermediateOutputPath)AutoScripts\ProverbLog4Net_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
                    </Object>
                    <UpdateFrom Type="Web.Config">
                        <Source MatchValue="Data Source=.;initial catalog=Proverb;integrated security=True;multipleactiveresultsets=True;application name=Log4Net" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
                    </UpdateFrom>
                </ObjectGroup>
            </Objects>
        </PublishDatabaseSettings>
    </PropertyGroup>
    <ItemGroup>
        <MSDeployParameterValue Include="$(DeployParameterPrefix)ProverbContext-Web.config Connection String">
            <ParameterValue>Data Source=tcp:aa71e7dn88.database.windows.net,1433;Initial Catalog=proverb_db;User Id=johnny_reilly@aa71e7dn88;Password=Bristol77</ParameterValue>
        </MSDeployParameterValue>
        <MSDeployParameterValue Include="$(DeployParameterPrefix)ProverbLog4Net-Web.config Connection String">
            <ParameterValue>data source=tcp:aa71e7dn88.database.windows.net,1433;initial catalog=proverb_db;user id=johnny_reilly@aa71e7dn88;password=Bristol77;MultipleActiveResultSets=True</ParameterValue>
        </MSDeployParameterValue>
    </ItemGroup>
</Project>